@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.cloudstream-border-gradient{
  border-color: linear-gradient(90deg, rgba(93,136,248,1) 0%, rgba(32,73,215,1) 44%, rgba(35,9,220,1) 100%); 
}